<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meaning Cloud Sentiment Analyzer</title>
  <link rel="stylesheet" href="/styles/resets.scss">
  <link rel="stylesheet" href="/styles/base.scss">
  <link rel="stylesheet" href="/styles/header.scss">
  <link rel="stylesheet" href="/styles/form.scss">
  <link rel="stylesheet" href="/styles/footer.scss">
</head>

<body>

  <header>
    <div class="">
      Meaning Cloud Sentiment Analyzer
    </div>
    <div class="">
      navigation
    </div>
  </header>

  <main>
    <!-- <section>
      <div class="" onsubmit="return Client.handleSubmit(event)" <h1>Type your phrase here!</h1>
        <input id="url_input" type="text" name="input" value="" placeholder="Enter URL here">
        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
    </section> -->
    <section>
      <form id="myForm" class="" onsubmit="return Client.handleSubmit(event)">
        <input id="url_input" type="text" name="input" value="" placeholder="Enter URL here">
        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
      </form>
      <section>

        <section>
          <strong>Form Results:</strong>
          <div id="results"></div>
        </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>

</body>

</html>