<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meaning Cloud Sentiment Analyzer</title>
  <link rel="stylesheet" href="/styles/resets.scss">
  <link rel="stylesheet" href="/styles/base.scss">
  <link rel="stylesheet" href="/styles/header.scss">
  <link rel="stylesheet" href="/styles/form.scss">
  <link rel="stylesheet" href="/styles/footer.scss">
</head>

<body>

  <header>
    <div class="">
      Meaning Cloud Sentiment Analyzer
    </div>
    <div class="">
      <nav>
        <ul>
          <!-- Makeshift links (Design purposes only) -->
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section>
      <form id="myForm" class="" onsubmit="return Client.handleSubmit(event)">
        <h1>Enter the URL to your news article below!</h1>
        <input id="url_input" type="text" name="input" value="" placeholder="https://example.com/article">
        <span><input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"></span>
      </form>
      <section>

        <section id="results">
          <h1 id="results-title">Form Results:</h1>
          <div id="agreement"></div>
          <div id="score_tag"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
        </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script> -->
</body>

</html>